*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* PRIMARY */
  --mainColor: #8164f4;
  --hoverColor: #5b5fdf;
  --darkOne: #222;
  --darkTwo: #45424b;
  --lightOne: #919191;
  --lightTwo: #222;
  /* UTILITIES */
  --light-fw: 400;
  --bold-fw: 700;
  --radius: 6px;
  --radius-full: 50%;
  --spacing: 2px;
  --transition: 0.3s ease-in-out;
  --shadow-light: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 8px 15px 0px rgba(0, 0, 0, 0.3);
  --cursor: pointer;
}
html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  display: inline-block;
  background: none;
  outline: 0;
  border: 0;
  cursor: var(--cursor);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--darkOne);
  font-weight: var(--bold-fw);
  overflow-wrap: break-word;
}
h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.3rem;
}
.container {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
}
/*
========================
       PROFILE PAGE
========================
*/
.profile-col-1 {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--hoverColor);
}
.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}
.profile-header > * {
  margin-bottom: 0.5rem;
}
.profile-img-wrapper {
  width: 85px;
  height: 85px;
}
#profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.display-name {
  color: #fff;
}
.created-at {
  display: flex;
  align-items: center;
  color: #fff;
}
.created-at span {
  font-size: 18px;
  margin-right: 0.4rem;
}
.profile-col-2 {
  background-color: #fff;
  padding-top: 2rem;
}
.profile-col-2 form {
  max-width: 800px;
  margin: 0 auto;
}
.profile-form-card > * {
  margin-bottom: 1rem !important;
}
.MuiFormHelperText-root {
  color: red !important;
}

/*
========================
  SPECIFIC CATEGORY PAGE
========================
*/
.section {
  margin: 14vh 0 0;
}
.banner {
  width: 100%;
  max-height: 150px;
  background-color: var(--mainColor);
  background-image: url('../images/pattern1.png');
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
}
.banner img {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
}
.url-slug {
  padding: 1rem 0;
}
.url-slug p,
.url-slug a {
  color: #555;
  transition: var(--transition);
}
.url-slug a:hover {
  color: var(--hoverColor);
}
.no-of-product {
  margin: 1rem 0;
  font-weight: 600;
}
.search-wrapper,
.select {
  margin-bottom: 1rem;
}
.select {
  width: 5rem;
  height: 3rem;
  margin-bottom: 2rem;
}
.search-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 3px solid var(--hoverColor);
  border-radius: var(--radius);
}
.search-card > span {
  width: 15%;
  font-size: 22px;
  color: #808080;
  text-align: center;
}
.search-card input {
  width: 85%;
  padding: 0.6rem;
  background: none;
  border: 0;
  outline: 0;
}
.search-card span > * {
  width: 100%;
}
.category-products,
.all-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
  transition: var(--transition);
}
.product-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  background-color: #fff;
  text-align: center;
  border-radius: var(--radius);
  box-shadow: var(--shadow-light);
  transition: 0.4s ease-out;
}
.product-card:hover .product-img-wrap > img {
  transform: scale(1.05);
}
.product-img-wrap {
  padding-top: 1rem;
  width: 200px;
  height: 200px;
  margin: 0 auto 0.6rem;
}
.product-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.4s ease-out;
}
.info {
  width: 100%;
}
.info > * {
  margin-bottom: 0.6rem;
}
.product-name {
  font-weight: 600;
  font-size: 14px;
}
.product-card .price {
  font-weight: 400;
  font-size: 14px;
  color: var(--hoverColor);
  font-weight: 600;
}
.product-card .price span {
  margin-right: 0.8rem;
  color: #555;
  text-decoration: line-through;
  font-weight: 500;
}
.product-details-btn {
  width: 100%;
  min-width: 13ch;
  padding: 0.85rem 0;
  background-color: var(--hoverColor);
  color: #fff;
  font-weight: 500;
  border-radius: var(--radius);
  transition: var(--transition);
}
.product-details-btn:hover {
  background-color: var(--mainColor);
}
.loading {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}
.retry-btn,
.single-featured-err button {
  min-width: 9ch;
  border: 1px solid #555;
  border-radius: var(--radius);
  padding: 0.5rem 0;
}
.no-item-found {
  width: 100%;
  font-size: 20px;
  text-align: center;
  color: #555;
  font-weight: 600;
}
/*
========================
  SINGLE ITEM PAGE
========================
*/
.single-item {
  background-color: #fff;
  margin-bottom: 1rem;
  padding: 0.8rem;
  border-radius: var(--radius);
}
.single-item-content {
  max-width: 600px;
  margin: 0 auto;
}
.single-item-img-wrap {
  position: relative;
  width: 50%;
  margin: 0 auto;
}
.single-featured-item-img {
  width: 100%;
}
.single-item-img-wrap img {
  width: 100%;
  object-fit: contain;
}
.single-item-info {
  font-size: 14px;
  padding: 1.2rem 0 0;
}
.single-item-info > * {
  margin-bottom: 1.2rem;
}
.single-item-category {
  margin-bottom: 0;
  color: #979696;
  text-transform: uppercase;
  font-size: 12px;
}
.single-item-info h1 {
  font-size: 24px;
  margin-bottom: 0;
  color: var(--hoverColor);
}
.single-item-author a {
  text-decoration: underline;
}
.single-item-rating > * {
  margin: 0 0.1rem;
}
.single-item-rating {
  display: flex;
  align-items: center;
}
.single-item-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}
.discount-price {
  font-size: 28px;
  margin-right: 0.8rem;
}
.discount {
  display: flex;
  align-items: center;
}
.discount-percent {
  font-size: 15px;
  background-color: #5b5fdf4b;
  padding: 0.2rem;
  color: var(--hoverColor);
  font-weight: 600;
  border-radius: var(--radius);
}
.old-price {
  font-size: 16px;
  color: #979696;
  text-decoration: line-through;
}
.single-item-desc {
  color: #555;
}
.addtocart-btn {
  width: 100%;
  padding: 0.8rem 0;
  background-color: var(--hoverColor);
  color: #fff;
  border-radius: var(--radius);
  box-shadow: var(--shadow-light);
  font-weight: 500;
  transition: var(--transition);
}
.addtocart-btn:hover {
  background-color: var(--hoverColor);
}
.item-features ul li {
  color: #808080;
}
.single-featured-err {
  text-align: center;
}
.single-featured-err h3 {
  margin-bottom: 1.5rem;
}

/*
========================
        CART
========================
*/
.cart-content {
  overflow: hidden;
  border-radius: var(--radius);
  box-shadow: var(--shadow-light);
}
.cart-content-col-1 {
  overflow-x: scroll;
}
table {
  width: 100%;
  background-color: #fff;
  padding: 0.8rem;
}
th {
  min-width: 100px;
  text-align: center;
  padding-bottom: 0.8rem;
}
th h4 {
  font-size: 13px;
  font-weight: 600;
}
td {
  padding: 8px 15px 8px 5px;
  text-align: center;
  min-width: 100px;
  padding-bottom: 0.8rem;
}
.cart-prod-desc {
  text-align: left;
}
.cart-prod-desc p {
  color: #979696;
}
.amount-btn span,
.amount {
  color: var(--hoverColor);
  font-weight: 600;
}
td img {
  width: 100px;
}
td p {
  font-size: 12px;
  margin-top: 0.5rem;
}
.delete button {
  margin-top: 1rem;
}
.delete button span {
  color: #f85643;
  font-size: 18px;
}
.cart-empty p {
  font-size: 18px;
  padding: 1rem 0;
  color: #979696;
}
.cart-content-col-2 {
  background-color: var(--hoverColor);
  padding: 1rem;
}
.summary-wrapper h3 {
  margin-bottom: 1rem;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
}
.cart-cost {
  display: flex;
  flex-direction: column;
}
.cart-cost div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}
.summary-wrapper div p {
  color: #fff;
  text-transform: capitalize;
}
/* .summary-wrapper div p:nth-child(1) {
  font-weight: 600;
} */
.checkout-btn-wrapper {
  display: flex;
  justify-content: center;
}
.summary-wrapper button {
  display: flex;
  justify-content: center;
  align-items: csenter;
  width: 100%;
  padding: 0.8rem 0;
  margin-top: 2rem;
  background-color: #f85643;
  color: #fff;
  font-weight: 600;
  border-radius: var(--radius);
  text-transform: capitalize;
}
.checkout-tagline {
  display: flex;
  align-items: center;
  margin-top: 0.8rem;
}
.checkout-tagline h4 {
  color: #fff;
  line-height: 1.1;
}
.checkout-tagline span {
  font-size: 35px;
}
.checkout-tagline p {
  font-size: 12px;
  text-transform: lowercase !important;
  color: #979696;
}
/*
========================
        CONTACT
========================
*/
.contact-section.section {
  margin-top: 18vh;
}
.contact-content-wrapper {
  border-radius: var(--radius);
  box-shadow: var(--shadow-light);
  overflow: hidden;
}
.contact-content-col-1 {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  background-color: var(--hoverColor);
}
.tag-title {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.tag-title span {
  display: inline-block;
  width: 40px;
  height: 3px;
  margin-right: 1rem;
  background-color: #e6e5e5;
}
.tag-title p {
  color: #e6e5e5;
  font-weight: 600;
}
.contact-content-col-1 h1 {
  font-size: 35px;
  color: #fff;
  margin-bottom: 1rem;
  line-height: 1.3;
}
.contact-content-col-1 div ~ p {
  color: #e6e5e5;
}
.contact-content-col-2 {
  padding: 2rem 0.8rem;
  background-color: #fff;
}
.contact-content-col-2 .box > *:not(button) {
  margin-bottom: 1rem;
}
.contact-content-col-2 .box button {
  padding: 0.8rem 0;
  background: var(--hoverColor);
  color: #fff;
  font-size: 14px;
}
/*
========================
        SIGNIN
========================
*/
.auth.section {
  margin-top: 18vh;
}
.auth-card {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 1rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow-light);
}
.auth-header {
  text-align: center;
  margin-bottom: 1.5rem;
}
.auth-header h1 {
  font-size: 25px;
  color: var(--hoverColor);
}
.auth-header p {
  color: #979696;
}
.guestcheckout {
  display: flex;
  flex-direction: column;
}
.guestcheckout-link {
  color: var(--hoverColor);
  text-decoration: underline;
}
.auth-box > * {
  display: inline-block;
  margin-bottom: 0.6rem !important;
}
.auth-box button {
  background-color: var(--hoverColor);
  color: #fff;
  padding: 0.75rem 0;
  font-weight: 500;
  text-transform: capitalize;
  transition: var(--transition);
}
.auth-box button:hover {
  background-color: var(--mainColor);
}
.google-btn div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.6rem;
  line-height: 1;
}
.google-btn .line {
  width: 25%;
  height: 2px;
  display: inline-block;
  background-color: lightgray;
}
.need-acct p {
  text-align: center;
  color: #979696;
}
.need-acct a {
  text-decoration: underline;
  color: var(--hoverColor);
}
.MuiOutlinedInput-input {
  font-size: 14px !important;
}
/*
========================
      CHECKOUT
========================
*/
.checkout-section.section {
  margin-top: 18vh;
}
.checkout-content {
  border-radius: var(--radius);
  box-shadow: var(--shadow-light);
  overflow: hidden;
}
.checkout-content-col-1 {
  background-color: #fff;
  padding: 1rem;
}
.checkout-info-box h2 {
  font-size: 18px;
  color: #666;
  font-weight: 600;
}
.checkout-info-box > * {
  display: inline-block;
  margin-bottom: 1.2rem !important;
}
.checkout-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout-title {
  position: relative;
  width: 60%;
  display: flex;
}
.user-email {
  display: block;
  font-size: 12px;
  color: #979696;
  width: 20%;
  word-wrap: break-word;
  word-wrap: break-word;
}
.checkout-title span {
  font-size: 28px;
  margin-right: 0.3rem;
  color: var(--hoverColor);
  cursor: pointer;
}
.checkout-title h1 {
  font-size: 22px;
  color: var(--hoverColor);
}
.checkout-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 145px;
  height: 2.5px;
  background-color: var(--hoverColor);
}
.checkout-content-col-2 {
  background-color: var(--hoverColor);
  padding: 1rem;
}
#checkout-now-btn {
  display: flex;
  justify-content: center;
}
#checkout-now-btn > button,
#checkout-btn {
  width: 100%;
  padding: 0.8rem 0;
  background: var(--hoverColor);
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  border-radius: var(--radius);
}
button:disabled {
  opacity: 0.6;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.warning-info {
  display: flex;
  color: red;
}
.warning-info span:nth-child(1) {
  font-size: 25px;
  margin-right: 0.3rem;
}
.warning-info span:nth-child(2) {
  font-size: 13px;
  line-height: 1.2;
}
.warning-info span br {
  display: none;
}
@media screen and (min-width: 500px) {
  .item-qty-dflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .item-qty {
    width: 35%;
  }
  .item-qty div {
    margin-bottom: 0;
  }
  .add-to-cart {
    width: 55%;
  }
  .discount {
    margin-bottom: 0.3rem;
  }
}

@media screen and (min-width: 900px) {
  .single-item {
    padding-top: 2rem;
  }
  .single-item-content {
    max-width: 100%;
  }
  .single-item-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .single-item-info {
    padding: 0;
  }
  .single-item-info > * {
    margin-bottom: 1.2rem;
  }
  .single-item-category {
    margin-bottom: 0;
  }
  .single-item-img-wrap {
    width: 40%;
  }
  .single-item-img-wrap img {
    width: 80%;
    object-fit: contain;
  }
  .single-item-info {
    width: 48%;
  }
  .el-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }
  .search-card {
    background-color: #fff;
  }
  .select {
    width: 5rem;
    height: 3rem;
    margin-bottom: 0;
  }
  .no-of-product {
    width: 30%;
  }
  .search-wrapper {
    width: 50%;
    margin-bottom: 0;
  }
  .cart-content {
    display: flex;
    border-radius: var(--radius);
    min-height: 50vh;
  }
  .cart-content-col-1 {
    width: 60%;
  }
  .cart-content-col-1 table {
    min-height: 55vh;
  }
  .cart-content-col-2 {
    width: 40%;
  }
  .contact-content-wrapper {
    display: flex;
    align-items: center;
    height: 75vh;
  }
  .contact-content-col-1 {
    width: 60%;
    height: 100%;
  }
  .contact-content-col-2 {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 2rem;
    padding-top: 1rem;
  }
  .contact-content-col-1 div:nth-child(1) {
    width: 80%;
    margin: 0 auto;
  }
  .contact-content-col-1 h1 {
    font-size: 40px;
    line-height: 1.5;
  }
  .tag-title {
    margin: 1rem 0 !important;
  }
  /* checkout */
  .checkout-content {
    display: flex;
  }
  .checkout-content-col-1 {
    width: 60%;
    padding: 2rem;
  }
  .checkout-content-col-2 {
    width: 40%;
    padding: 2rem;
  }
  .user-email {
    font-size: 13px;
  }
  .warning-info span br {
    display: inline-block;
  }
  .warning-info span:nth-child(1) {
    font-size: 20px;
    margin-right: 0.3rem;
  }
}
